
.verticalbutton svg{
    transform: scale(1.7);
    
}

.verticalbutton text {
  dominant-baseline: hanging; 
  text-anchor: middle;        
  transform: translateY(20px); 
}

.verticalbutton .title text{
transform: translateX(-40px);
}