footer {
    height: fit-content;
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: end;
    padding: 5px 15px;
    text-align: center;
    padding: 20px 0;
    background-color: #75541C;
}
footer nav a {
    color: #d4c5aa;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.footer-notes {
    display: flex;
}

.footer-button {
    background: transparent;
    font-size: 13px;
    border: none;
    cursor: pointer;
    width: 100%;
    justify-content: center;

}

.footer-button:hover {
    background: #d4c5aa;
    border-radius: 5px;
}