footer {
    height: fit-content;
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: end;
    padding: 5px 15px;
}

.footer-notes {
    box-sizing: border-box;
    font-size: 13px;
}