footer {
    height: 60px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: end;
    align-items: end;
    padding: 5px 15px;
}

.footer-notes {
    box-sizing: border-box;
    font-size: 13px;
}