/* Conteneur principal de la page ListeMembres */
.listeMembres-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* Position du texte du titre */
.title-wrapper .container-title text {
  transform: translate(10px, 0px);
}

/* Conteneur 3 boutons */
.notes-on-staff {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 40px auto;
}

/* Bouton contenant la note */
.bouton-note {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  /* label sous le SVG */
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

/* Effet au survol */
.bouton-note:hover {
  transform: scale(1.1);
}

/* Note visible */
.bouton-note svg {
  width: 120px;
  height: 100px;
  display: block;
}

/* Le label généré par Note */
.bouton-note text {
  font-size: 0.8rem;
  fill: #75541C;
  font-weight: bold;
}

/* Position des listes de membres en colonnes */
.listeMembres-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.listeMembres-wrapper {
  position: relative;
  width: 100%;
}

.labelMembres {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #75541C;
  font-weight: bold;
  white-space: nowrap;
}

.labelMembres.gauche {
  left: 10%;
}

.labelMembres.droite {
  right: 10%;
}
